body {
  width: 500px;
}

.invisible {
  display: none;
}

.wide-input {
  outline: none;
  border: 0;
  background-color: transparent;
  width: 100%;
  font-size: 20px;
}

.button-container {
  padding-top: 20px;
  position: relative;
}

.logout-btn {
  position: absolute;
  top: 15px;
}

textarea {
  resize: vertical;
}

.special-button {
  opacity: 1;
  font-size: 20px;
  display: block;
  outline: none;
  border: 0;
  font-weight: bold;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s;
  box-shadow: 0px 0px 10px transparent;
}

.special-button:hover {
}


.border {
  opacity: 1;
  display: block;
  height: 2px;
}

.error, .success, .failure {
  display: none;
  font-size: 20px;
}

.link {
  font-size: 20px;
}
